model_config_list {
  config {
    name: 'simple_nn'
    base_path: '/models/binary-NN-model/'
    model_platform: 'tensorflow'
  }
  
  config {
    name: 'cnn'
    base_path: '/models/CNN-model/'
    model_platform: 'tensorflow'
  }

  config {
    name: 'bert'
    base_path: '/models/BERT-NN-model/'
    model_platform: 'tensorflow'
  }
}