* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Helvetica Neue", "Poppins", sans-serif;
}

.content {
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin: 2rem auto;
    max-width: 720px;
}

.header ul {
    text-align: justify;
}

.form-wrap {
    margin: 50px auto;
    max-width: 720px;
}

.box-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .box-wrap {
        flex-direction: column;
        align-items: center;
    }
}
