.card-container {
    width: 400px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    margin: 2rem 1rem;
    box-shadow: 0 1px 6px #dadada;
}

.card-header {
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
}

.card-container:last-child {
    height: 265px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #f9ab00, #e8710a) border-box;
    border: 4px solid transparent;
}

.card-body {
    max-width: 350px;
    margin: 20px auto 0;
}

@media (max-width: 500px) {
    .card-container {
        width: 100%;
        margin: 20px auto;
    }

    .card-body {
        width: 100%;
    }
}